apiVersion: v1
kind: Secret
metadata:
  name: raildbsetup-secrets
  namespace: railway
  labels:
    app.kubernetes.io/name: raildbsetup
    app.kubernetes.io/component: setup
type: Opaque
stringData:
  DATABASE_URL: "postgresql+asyncpg://user:pass@postgres:5432/railway_db"